<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <h1>Listing Users</h1>
    <% if @users %>
    <table class="table">
        <thead>
            <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
            <tr>
            <td><%= user.first_name =%></td>
            <td><%= user.last_name =%></td>
            <td><%= user.email_address =%></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <% end %>
    </div>
    <div class="col-md-2"></div>
</div>
